
@font-face {
  font-family: 'ralewayregular';
  src: url('/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@mixin raleway{
  font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}