mixin menu (additionClass)
  -
    var nav =[
      {
        name : "Dormitoare",
        href : "#"
      },
      {
        name : "Saltele",
        href : "#"
      },
      {
        name : "Bucatarie",
        href : "#"
      },
      {
        name : "Dulap cupe",
        href : "#"
      },
      {
        name : "Living",
        href : "#"
      },
      {
        name : "Dormitoare",
        href : "#"
      },
      {
        name : "Pentru copii",
        href : "#"
      },
      {
        name : "Canapele",
        href : "#"
      },
      {
        name : "Antreuri",
        href : "#"
      },
      {
        name : "Banchete",
        href : "#"
      },
      {
        name : "Mese calculator",
        href : "#"
      },
      {
        name : "Oficiu",
        href : "#"
      },
      {
        name : "Uși interior",
        href : "#"
      },
      {
        name : "Uși exterior",
        href : "#"
      },
      {
        name : "Utilaj comercial",
        href : "#"
      },
      {
        name : "Diverse",
        href : "#"
      }
    ]

  .menu(class=` menu menu__${additionClass}`)
      ul.menu__list
        each item in nav
          li.menu__item
            a.menu__link(href=`${item.href}`)= item.name