mixin menu (additionClass)
  -
    var nav =[
      {
        name : "Dormitoare",
        href : "dormitoare.html"
      },
      {
        name : "Saltele",
        href : "saltele.html"
      },
      {
        name : "Bucătărie",
        href : "bucatarie.html"
      },
      {
        name : "Dulap cupe",
        href : "dulap.html"
      },
      {
        name : "Living",
        href : "living.html"
      },
      {
        name : "Pentru copii",
        href : "copii.html"
      },
      {
        name : "Canapele",
        href : "canapele.html"
      },
      {
        name : "Antreuri",
        href : "antreuri.html"
      },
      {
        name : "Banchetă",
        href : "banchet.html"
      },
      {
        name : "Mese calculator",
        href : "calc-mese.html"
      },
      {
        name : "Oficiu",
        href : "oficiu.html"
      },
      {
        name : "Uși interior",
        href : "usi-interior.html"
      },
      {
        name : "Uși exterior",
        href : "usi-exterior.html"
      },
      {
        name : "Utilaj comercial",
        href : "comercial.html"
      },
      {
        name : "Diverse",
        href : "diverse.html"
      }
    ]

  .menu(class=` menu__${additionClass}`)
      ul.menu__list
        each item in nav
          if item.name == title
            li.menu__item.menu__item-active
              a.menu__link(href=`${item.href}`)= item.name
          else
            li.menu__item
              a.menu__link(href=`${item.href}`)= item.name 