//mixins
$black   : #221924;
$red     : #C93932;
$blue    : #3a7585;;
$txtgray : #6f6f6f;;
$gray    : #EEEEEE;
$bgray   : #F6F4EE;
//layout setups
@import 'layout/fonts';
@import 'layout/setups';

//mixins
@import 'helpers/mixins';

//blocks
@import 'blocks/**/*.scss';

//components
@import 'components/**/*.scss'
