.product__wrapper{
  padding: 50px 0;
}
.product__wrapper-top{
  .container-lg{
    display: flex;
    @include laptop{
     flex-direction: column;
    }
  }
}
.product__slider{
  width: 600px;
  margin-right: 100px;
  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
  }
  li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  @include desktop{
   width: 440px;
  }
  @include laptop{
   width: 100%;
   margin: 0 auto 50px auto;
   margin-right: 0;
  }
}
#lightSlider{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lSSlideWrapper{
  margin-bottom: 25px;
}
.product__short-info{
  position: relative;

  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #eeeeee;
    right: 99%;
    margin-right: 50px;
    top: 0;
  }
  @include laptop{
    &:after{
      margin-top: -25px;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 100%;
      margin-right: 0;
    }
   }
}
.product__name{
  font-size: 20px;
}
.product__more{
  padding-bottom: 50px;

  a{
    font-size: 14px;
    color: $blue;
    font-weight: 900;
    &:hover{
      text-decoration: none;
    }
  }
  @include desktop{
   padding-bottom: 25px;
  }
}
.product__price{
  margin-bottom: 10px;
  p{
    color: $red;
    font-weight: 900;
    font-size: 28px;
    span{
      color: $txtgray;
      padding-right: 20px;
    }
    &:after{
      content: "MDL";
      padding-left: 10px;
    }
  }
  @include desktop{
    p{font-size: 22px;}
  }
  @include phone{
   p{
     font-size: 20px;
     span{
       padding-right: 10px;
     }
   }
  }
}
.product__shipping{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  svg, p{
    color: green;
    font-size: 20px;
    font-weight: 900;
  }
  svg{
    margin-right: 10px;
  }
  @include desktop{
   p{
     font-size: 19px;
   }
  }
}
.product__contact{
  display: flex;
  flex-direction: column;
  p, a{
    font-size: 16px;
    color: $txtgray;
    font-weight: 900;
  }
  p{
    margin-bottom: 50px;
    a{
      margin: 0 10px 0 10px;
      color: $blue;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.product__call{
  align-self: center;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: $blue;
  font-size: 20px !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 200 !important;
  transition: .2s linear;

  svg{
    color: #fff;
    margin-right: 5px;
  }
  &:hover{
    background: #2b5661;
  }
}
.product__info-head{
  padding-bottom: 25px;
  p{
    font-size: 26px;
    font-weight: bolder;
    color: #010101;
  }
}
[data-content]>*, [data-control]{
  border-bottom: 0px;
  padding: 0;
}
.accordion{
  margin-bottom: 20px;
  background: #fff;
}
.accordion-head{
  padding: 15px 10px;
  font-size: 20px;
  color: $txtgray;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
}
.product__wrapper-bottom{
  background: $bgray;
  .container-lg{
    background: #fff;
  }
}
.accordion-text{
  p{
    padding: 10px 20px 20px 30px;
    font-size: 17px;
    color: $txtgray;
    letter-spacing: 1px;
  }
  table{
    margin: 10px 10px 20px 10px;
    border-collapse: collapse;
    width: 98%;
    tr{
      border: 1px solid #ccc;
      border-left-color: transparent;
      border-right-color: transparent;
      margin-bottom: 5px;
    }
    td{
      width: 50%;
      &:first-child{
        background: #F0F4F5;
      }
    }
    p{
      padding: 10px 30px;
      @include phone{
       padding: 5px;
       font-size: 14px;
      }
    }
    @include tablet{
     width: 96%;
    }
    @include phone{
     width: 93%;
    }
  }
}