extends ../main-layout
block variables
  -
    var title = "Antreuri";
    var text  = "dormitoare"
  
block content
  main(role="main" class=`main main__${text}`)
    include ../parts/header
    
  include ../parts/footer 