extends ../main-layout
block variables
  -
    var title = "AXILinteriors - Bine ați venit";
    var nav =[
      {
        text : "Dormitoare",
        href : "#",
        src  : "assets/img/backgrounds/menu/bed-3.jpg",
        class : "bedroom"
      },
      {
        text : "Saltele",
        href : "#",
        src  : "assets/img/backgrounds/menu/mattres-3.jpg",
        class : "mattresses"
      },
      {
        text : "Bucătărie",
        href : "#",
        src  : "assets/img/backgrounds/menu/kitchen-1.jpg",
        class : "kitchen"
      },
      {
        text : "Dulap cupe",
        href : "#",
        src  : "assets/img/backgrounds/menu/wardrobe-1.jpg",
        class : "cupboard"
      },
      {
        text : "Living",
        href : "#",
        src  : "assets/img/backgrounds/menu/living-room-2.jpg",
        class : "living"
      },
      {
        text : "Pentru copii",
        href : "#",
        src  : "assets/img/backgrounds/menu/children-3.jpg",
        class : "childrens"
      },
      {
        text : "Canapele",
        href : "#",
        src  : "assets/img/backgrounds/menu/couch-3.jpg",
        class : "couches"
      },
      {
        text : "Antreuri",
        href : "#",
        src  : "assets/img/backgrounds/menu/antreu-2.jpg",
        class : "hall"
      },
      {
        text : "Banchete",
        href : "#",
        src  : "assets/img/backgrounds/menu/banquet-2.jpg",
        class : "banquet"
      },
      {
        text : "Mese calculator",
        href : "#",
        src  : "assets/img/backgrounds/menu/pctable.jpg",
        class : "tables"
      },
      {
        text : "Oficiu",
        href : "#",
        src  : "assets/img/backgrounds/menu/office-1.jpg",
        class : "office"
      },
      {
        text : "Uși interior",
        href : "#",
        src  : "assets/img/backgrounds/menu/door-2.jpg",
        class : "inside-doors"
      },
      {
        text : "Uși exterior",
        href : "#",
        src  : "assets/img/backgrounds/menu/outside-1.jpg",
        class : "outside-doors"
      },
      {
        text : "Utilaj comercial",
        href : "#",
        src  : "assets/img/backgrounds/menu/vitrina.jpg",
        class : "comercial-equipment"
      },
      {
        text : "Diverse",
        href : "#",
        src  : "assets/img/backgrounds/menu/other.jpg",
        class : "other"

      }
    ];

block content 
  .x-body.x-landing
    main.main(role="main")
      include ../parts/header
      section.hero
        .container-lg
          .hero__bg
            .hero__logo 
              h1 AXILinteriors
            form.hero__form(action="")
              .hero__form-serch
                label.hero__form-serch-label
                  input(type="text" placeholder="Găsiți orice...").hero__form-search-input
                  span.hero__form-search-icon
                    <i class="fas fa-search"></i>
      section.x-landing__navigation
        .container
          ul.x-landing__navigation-list
            each item in nav
              li(class=`x-landing__navigation-item x-landing__navigation-item-${item.class}`)
                a.x-landing__navigation-link(href=`${item.href}`)
                  div.x-landing__navigation-img
                    img.x-landing__navigation-pic(src=`${item.src}`)
                  div.x-landing__navigation-text= item.text
      section.x-landing__whyus
        .container-lg
          .whyus__bg
            h2.whyus__text De ce noi ?
            ul.whyus__opportunities-list
              li.whyus__opportunities-item
                .whyus__opportunities-icon
                  <i class="fas fa-shipping-fast"></i>
                .whyus__opportunities-text
                  p Livrare rapidă
                .whyus__opportunities-desc
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
              li.whyus__opportunities-item
                .whyus__opportunities-icon
                  <i class="fas fa-hand-holding-usd"></i>
                .whyus__opportunities-text
                  p Prețuri decente
                .whyus__opportunities-desc
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
              li.whyus__opportunities-item
                .whyus__opportunities-icon
                  <i class="fas fa-couch"></i>
                .whyus__opportunities-text
                  p Modele noi
                .whyus__opportunities-desc
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
              li.whyus__opportunities-item
                .whyus__opportunities-icon
                  <i class="fas fa-check"></i>
                .whyus__opportunities-text
                  p Calitate superioară
                .whyus__opportunities-desc
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      section.x-landing-counter
        .container-lg
          .counter__container
            .counter__text
              h2 Design-uri realizate
            .counter__icon  
              <i class="fas fa-pencil-alt"></i>
            .counter__nmbr-container
              .counter__nmb 
                span 068
          .counter__container
            .counter__text
              h2 Clienți mulțumiți
            .counter__icon  
              <i class="fas fa-rocket"></i>
            .counter__nmbr-container
              .counter__nmb 
                span 539
          .counter__container
            .counter__text
              h2 Contactează-ne
            .counter__icon  
              <i class="fas fa-phone"></i>
            .counter__nmbr-container
              .counter__nmb 
                span +373 67 823 891
    include ../parts/footer        
