extends ../main-layout
block variables
  -
    var title = "Saltele";
    var text  = "saltele"
  
block content
  main(role="main" class=`main main__${text}`)
    include ../parts/header
    .furniture__wrapper
      .container-lg
        .furniture__hero(class=`furniture__hero-${text}` style="background-image: url('assets/img/backgrounds/menu/mattress-2.jpg');")
          .furniture__hero-logo
            a(href="index.html").furniture__hero-logo-link
              img(src="assets/img/logo/logo.jpg", alt="Logo")
          .furniture__hero-text= title
        .data-container
          .info__line
            p= title
          ul.furniture__list
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea Lorem
                .furniture__price
                  p Preț : 8959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet
                .furniture__price
                  p Preț : 12959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet sit fet let 
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 9959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea Lorem Ipsum
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea Lorem
                .furniture__price
                  p Preț : 8959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet
                .furniture__price
                  p Preț : 12959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet sit fet let 
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 9959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattress-1.jpg")
                .furniture__name
                  h3 Saltea Lorem
                .furniture__price
                  p Preț : 8959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet
                .furniture__price
                  p Preț : 12959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is amet sit fet let 
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea lorem impsum is
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 9959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
            li.furniture__item
              a(href="product-template.html").furniture__link
                .furniture__img
                  img(src="assets/img/backgrounds/menu/mattres-3.jpg")
                .furniture__name
                  h3 Saltea Lorem Ipsum
                .furniture__price
                  p Preț : 4959
                .furniture__shipping
                  <i class="fas fa-shipping-fast"></i>
                  p Livrare rapidă
          #pagination-container
    
  include ../parts/footer 