.header{
  background: #fff;
  position: relative;
  z-index: 3;
}
.header__line{
  width: 100%;
  height: 1px;
  background: $gray;
}
.header__container-lg-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
  .header__socials{
    @include phone{
     display: none;
    }
  }
  @include phone{
   flex-wrap: wrap;
   padding: 10px 0;
  }
}
.header__logo{
  @include phone{
    flex: 1;
  }
}
.header__logo-link{
  text-decoration: none;
  color: $black;
  @include laptop{
   font-size: 24px;
  }
}
.header__contacts{
  padding-right: 10px;
}
.header__contacts-dropdown-container{
  @include tablet{
    position: relative;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover{
      background: $bgray;
      border-top-color: #ccc;
      border-left-color: #ccc;
      border-right-color: #ccc;
      .header__contacts-droped-container{
        left: -1px;
        @include phone{
         left: -65px;
        }
      }
    }
  }
}
.header__contacts-dropdown-icon{
  display: none;
  font-size: 22px;
  @include tablet{
   display: block;
  }
}
.header__contacts-droped-container{
  display: flex;
  justify-content: space-around;
  padding-top: 9px;
  padding-left: 20px;
  z-index: 2;
  @include tablet{
    padding: 10px;
    position: absolute;
    left: 99999991px;
    top: 28px;
    width: 190px;
    flex-direction: column;
    background: $bgray;
    border: 1px solid #ccc;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 100%;
      left: 0;
    }
    &:after{
      content: "";
      display: block;
      width: 33px;
      height: 1px;
      position: absolute;
      bottom: 100%;
      left: 0;
      background: $bgray;
    }
  }
  @include phone{
    width: 165px;
    &:after{
      left: 64px;
    }
  }
}
.header__contacts-phone{
  margin-right: 30px;
  display: block;
  color: $black;
  font-size: 19px;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: .2s linear;
  &:hover{
    text-decoration: none;
    .fa-phone{
      animation-name: phone_ring;
      animation-duration: .3s;
    }
  }
  @include desktop{
   font-size: 18px;
  }
  @include laptop{
   font-size: 16px;
   padding-top: 12px;
  }
  @include tablet{
    padding: 0;
    margin: 0;
  }
  @include phone{
   font-size: 14px;
  }
}
.header__contacts-phone-icon{
  margin-right: 5px;
  @include laptop{
   margin-top: -10px;
   svg{
     font-size: 13px;
   }
  }
}
.fa-phone{
  transform: rotate(95deg);
  color: #009688 ;
}
.header__contacts-phone-nmbr{
  display: block;
  height: 35px;
  @include phone{
   height: 28px;
  }
}
.header__language{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover{
    .header__language-arrow-down{
      display: none;
    }
    .header__language-arrow-up{
      display: inline-block;
    }
    .header__language-dropdown-item-hiden{
      left: 0;
    }
  }
  @include desktop{
    padding-right: 15px;
  }
  @include phone{
   padding-right: 0;
  }
}

.header__language-dropdown-item{
  display: flex;
  align-items: center;
}
.header__language-dropdown-item-hiden{
  position: absolute;
  height: 50px;
  left: 999999px;
  @include phone{
   height: 30px;
  }
}
.header__language-dropdown-item-active{
  display: flex;
}
.header__language-dropdown-img{
  margin-right: 5px;
  width: 25px;
  height: 25px;
  img{
    width: 100%;
    height: 100%;
  }
  @include laptop{
   width: 20px;
   height: 20px;
  }
}
.header__language-arrow{
  margin-left: 5px;
}
.header__language-arrow-up{
  display: none;
}
.header__container-lg-down{
  padding: 15px 0 0 0;
  @include phone{
   display: none;
  }
}
.menu__header{
  .menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }
  .menu__item{
    margin-left: 30px;
    margin-bottom: 15px;
    &:hover{
      .menu__link{
        color: $red;;
      }
    }
  }
  .menu__link{
    font-weight: bold;
    transition: .2s linear;
  }
}
.header__container-lg-down-phone{
  padding: 10px 0;
  display: none;
  .header__socials{
    margin-left: auto;
  }
  @include phone{
    display: flex;
  }
}




//Animation
@keyframes phone_ring{
  0%   {transform: rotate(95deg);}
  25%  {transform: rotate(105deg);}
  50%  {transform: rotate(95deg);}
  75%  {transform: rotate(105deg);}
  100% {transform: rotate(95deg);}
}